@model AnatoliaSmmPanel.Areas.Admin.Dtos.ServiceDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Min)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Max)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Max)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalServiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalServiceId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalRate)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalMin)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalMax)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dripfeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dripfeed)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cancel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cancel)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refill)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
